---
Language: Cpp
BasedOnStyle: LLVM

BreakBeforeBraces: Attach

ColumnLimit: 150

IndentWidth: 4
TabWidth: 4
UseTab: Never

PointerAlignment: Right

InsertBraces: true

SpaceBeforeParens: Always

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false